<% title "Customers" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for customer in @customers %>
    <tr>
      <td><%=h customer.name %></td>
      <td><%=h customer.description %></td>
      <td><%= link_to "Show", customer %></td>
      <td><%= link_to "Edit", edit_customer_path(customer) %></td>
      <td><%= link_to "Destroy", customer, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Customer", new_customer_path %></p>
