<% title "Orders" %>

<table>
  <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Order date</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_items_path(order) %></td>
      <td><%= link_to h(order.customer.name), customer_path( order.customer ) %></td>
      <td><%=h order.order_date %></td>
      <td><%= link_to "Show", order %></td>
      <td><%= link_to "Edit", edit_order_path(order) %></td>
      <td><%= link_to "Destroy", order, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Order", new_order_path %></p>
